.container {
  position: relative;
  width: 100%;
  padding: 0.65em 1.25em;
  border-radius: 9999px;
  color: var(--color-light-purple);
  font-size: 4vmin;
  font-weight: 700;
  letter-spacing: 0.01em;
  border: none;
  background: linear-gradient(90deg, #33037f 49.58%, #210354 99.58%);
  text-align: center;
  outline: 0.35vmin solid rgba(160, 130, 221, 0);
  transition: outline 0.2s cubic-bezier(0.4, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: filter 0.275s cubic-bezier(0.4, 0, 0, 1);

  &:hover {
    filter: brightness(0.9);
  }

  .icon {
    position: absolute;
    right: 1em;
    // top: 50%;
    // transform: translateY(-50%);
    width: 3.5vmin;
    height: 3.5vmin;
    object-fit: contain;
  }

  .lightLine {
    display: block;
    position: absolute;
    z-index: 1;
    height: 0.15vmin;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    background: linear-gradient(
      90deg,
      rgba(94, 8, 207, 0) 0%,
      #a082dd 50%,
      rgba(94, 8, 207, 0) 100%
    );

    &.first {
      top: 0.3vmin;
    }

    &.second {
      bottom: 0.3vmin;
    }
  }
}
