.container {
  position: relative;
  background-color: var(--color-dark-blue);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  .shapes {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: inherit;
    overflow: hidden;

    img {
      position: absolute;
      filter: blur(100px);
      transform-origin: center;
      opacity: 0.6;

      &:nth-child(1) {
        width: 360px;
        height: auto;
        left: 50%;
        top: 0;
        mix-blend-mode: soft-light;
        transform: translate(-20%, -20%) rotate(-135deg);
      }

      &:nth-child(2) {
        width: 360px;
        height: auto;
        left: 0;
        top: 50%;
        mix-blend-mode: soft-light;
        transform: translate(20%, -5%) rotate(-135deg);
      }

      &:nth-child(3),
      &:nth-child(4) {
        width: 695px;
        height: auto;
        left: 50%;
        top: 0;
        mix-blend-mode: overlay;
        transform: translate(5%, -30%) rotate(-135deg);
        opacity: 0.8;
      }

      &:nth-child(5) {
        width: 695px;
        height: auto;
        left: 0;
        top: 50%;
        mix-blend-mode: overlay;
        transform: translate(-50%, -10%) rotate(50deg);
      }
    }
  }

  .wrapper {
    position: relative;
    z-index: 1;
    flex: 1;
    width: 100%;
  }
}
