@font-face {
  font-family: 'Venice Nights';
  src: url('../assets/fonts/venice-nights/VENICENIGHTSBold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Venice Nights';
  src: url('../assets/fonts/venice-nights/VENICENIGHTSItalic.woff2')
    format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Venice Nights';
  src: url('../assets/fonts/venice-nights/VENICENIGHTSRegular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Venice Nights';
  src: url('../assets/fonts/venice-nights/VENICENIGHTSBoldItalic.woff2')
    format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: 'Mulish';
  src: url('../assets/fonts/mulish/Mulish-VariableFont_wght.woff2')
    format('woff2');
  font-weight: 300 900;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('../assets/fonts/mulish/Mulish-Italic-VariableFont_wght.woff2')
    format('woff2');
  font-weight: 300 900;
  font-display: block;
  font-style: italic;
}
