.container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100dvh;
  padding: 2rem;
  background-color: #111;

  .constraints {
    position: absolute;
    z-index: 0;
    inset: 0;
    overflow: hidden;

    .draggableContainer {
      position: absolute;
      width: 1920px;
      height: auto;
      aspect-ratio: 640 / 437;
      display: flex;
      align-items: center;
      justify-content: center;

      picture {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      .items {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        .item {
          position: absolute;
          transform: translate(-50%, -50%);
          background-color: #fff;
          border-radius: 9999px;
          width: 9vmin;
          height: 9vmin;
          cursor: pointer;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 1.5rem;
          padding: 1.5vmin;

          &.isPickedUp {
            opacity: 0.5;
            pointer-events: none;
          }

          &.isHandFull {
            cursor: not-allowed;
          }

          &:hover {
            background-color: rgb(236, 236, 236);
          }

          svg {
            height: 100%;
            width: auto;
            pointer-events: none;
          }
        }
      }
    }
  }

  .title {
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #fff;
  }

  .leave {
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem;
  }
}
